# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: E2E

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: e2e-istio-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  als:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: true
      matrix:
        analyzer: [k8s-mesh, mx-mesh]
        istio_version: [ 1.15.0, 1.16.0, 1.17.0, 1.18.0 ]
    name: Istio(${{ matrix.istio_version }})+ALS(${{ matrix.analyzer }})
    env:
      ISTIO_VERSION: ${{ matrix.istio_version }}
      ALS_ANALYZER: ${{ matrix.analyzer }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
        id: go
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build Docker Image
        shell: bash
        run: make docker
      - uses: apache/skywalking-infra-e2e@cf589b4a0b9f8e6f436f78e9cfd94a1ee5494180
        with:
          e2e-file: test/e2e/case/istio/als/e2e.yaml
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        name: Upload Logs
        with:
          name: logs-${{ matrix.istio_version }}
          path: "${{ env.SW_INFRA_E2E_LOG_DIR }}"

  metrics-service:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    name: Istio(${{ matrix.istio_version }})+MetricsService
    strategy:
      fail-fast: true
      matrix:
        istio_version: [1.15.0, 1.16.0, 1.17.0, 1.18.0]
    env:
      ISTIO_VERSION: ${{ matrix.istio_version }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
        id: go
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build Docker Image
        shell: bash
        run: make docker
      - uses: apache/skywalking-infra-e2e@cf589b4a0b9f8e6f436f78e9cfd94a1ee5494180
        with:
          e2e-file: test/e2e/case/istio/metrics/e2e.yaml
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        name: Upload Logs
        with:
          name: logs-${{ matrix.istio_version }}
          path: "${{ env.SW_INFRA_E2E_LOG_DIR }}"
